@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;900&family=Patua+One&family=Vina+Sans&display=swap");
* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
body {
  overflow-x: hidden !important;
}
.wrapper,
#resume,
#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
}
main {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url(images/B&W.jpg) !important;
  background-repeat: no-repeat !important;

  background-size: cover !important;

  background-position: center !important;
  background-attachment: fixed !important;

  /* border-radius: 50%; */
}
