main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(images/hindu\ kush) !important;
  background-repeat: no-repeat;

  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: top !important;
}
